<div id="footer">
	<div class="container-fluid">
		<div class="footer-grid">
			<div>
				<div class="footer-name">Bonner Lab</div>
				<p>We are part of the Krieger School of Arts and Sciences at Johns Hopkins University.</p>
				<p>&copy; 2026 Bonner Lab.</p>
			</div>

			<div>
				<ul>
					<li><i class="fab fa-x-twitter fa-fw"></i><a href="https://twitter.com/michaelfbonner" target="_blank">@michaelfbonner</a></li>
					<li><i class="fab fa-github fa-fw"></i><a href="https://github.com/BonnerLab" target="_blank">github.com/BonnerLab</a></li>
					<li><i class="fas fa-envelope fa-fw"></i><a href="mailto:mfbonner@jhu.edu">mfbonner@jhu.edu</a></li>
				</ul>
			</div>

			<div>
				<address>
					<a href="https://shorturl.at/cVY37" target="_blank">237 Krieger Hall</a><br>
					3400 N. Charles Street<br>
					Baltimore, MD 21218
				</address>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/external-links.js"></script>
