<div class="well" style="width: 300px; margin-top: 30px;">
    <h4 style="margin-top: -9px;">News</h4>
    {% for article in site.data.news limit:9 %}
    <div style="margin-bottom: 20px;">
        <p style="margin-bottom: 2px; font-family: 'Arial', sans-serif;">
            <span
                style="font-family: 'Roboto', 'Open Sans', 'Lato', sans-serif; font-size: 0.9em; color: #f6630e;">{{
                article.date }}</span><br>
            {{ article.headline | markdownify }}
        </p>
    </div>
    {% endfor %}
    <h5><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h5>
</div>