---
layout: default
---

<div class="home-page">
  <div class="home-hero">
    <div class="home-hero-text">
      <h1>Cognitive Neuroscience and Deep Learning Group</h1>
      <p class="hero-lede">Department of Cognitive Science, Johns Hopkins University</p>
    </div>
    <figure class="brain-figure">
      <div id="brain-container" data-base="{{ site.url }}{{ site.baseurl }}" aria-hidden="true"></div>
      <figcaption>Our goal is to understand neural computations in the visual cortex.</figcaption>
    </figure>
  </div>

  <div class="home-body">
    <div id="homeid">
      {{ content }}
    </div>
    <div id="newsid">
      {% include news.html %}
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/brain.js"></script>
