---
layout: default
---

<div class="home-page">
  <div class="home-banner">
    <img src="{{ site.url }}{{ site.baseurl }}/images/slider7001400/jhu_gilman.jpg" alt="Gilman Hall, Johns Hopkins University">
    <div class="home-banner-text">
      <h1>Cognitive Neuroscience and Deep Learning Group</h1>
      <p>Johns Hopkins University</p>
    </div>
  </div>

  <div class="home-body">
    <div id="homeid">
      <figure class="brain-figure">
        <div id="brain-container" aria-hidden="true"></div>
        <figcaption>Activity spreading from primary visual cortex along the ventral and dorsal streams. Drag to rotate.</figcaption>
      </figure>
      {{ content }}
    </div>
    <div id="newsid">
      {% include news.html %}
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/brain.js"></script>
